.tabs-container {
  --bg-color: aliceblue;

  display: flex;
  gap: 10px;
  font-size: 1.5rem;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-color);
}

.tabs-container > div {
  background-color: var(--bg-color);
}
